{% extends "base.html" %}
{% load static %}

{% block title %}Тұлғалар{% endblock %}

{% block content %}

<!-- Historic page block -->
<!-- ========================================================================================================================================================= -->
<div class="flex justify-between items-start my-4">
    <div class="flex-1 lg:mr-4 mx-2 py-4 px-6 lg:mx-0 bg-white border border-gray-200 rounded-lg shadow">
        <img src="{{ person.image.url }}" class="w-64 rounded-xl" alt="image">
        <h1 class="mt-4 font-bold text-2xl text-gray-800">{{ person.full_name }}</h1>
        <span class="text-gray-500">{{ person.specialist }}</span>
    </div>

    <!-- President -->
    <!-- ========================================================================================================================================================= -->
    <div
        class="max-w-sm bg-white border border-gray-200 rounded-lg shadow  dark:bg-gray-800 dark:border-gray-700 hidden lg:block">
        <div class="flex flex-col items-center py-5 px-2">
            <img class="w-24 h-24 mb-3 mt-3 rounded-full shadow-lg" src="{% static './images/president.jpg' %}"
                alt="Қасым-Жомарт Тоқаев" />
            <h5 class="mb-1 text-xl font-bold text-gray-900 dark:text-white">Қасым-Жомарт Тоқаев</h5>
            <span class="text-sm text-gray-700 dark:text-gray-600">Қазақстан Республикасының президенті</span>
            <span class="text-sm text-gray-400 dark:text-gray-300 text-center mt-2">
                Қазақстан халықаралық міндеттемелеріне және адам құқықтары мен заң 
                үстемдігі саласындағы әмбебап қағидаттарға бейілдігін сақтайды. 
                Біз саяси жаңғыруға негізделген бағытымызды ешқашан өзгертпейміз.
            </span>
        </div>
    </div>
</div>
{% endblock content %}