{% extends "base.html" %}
{% load static %}

{% block title %}Медиагалерея{% endblock %}

{% block content %}

<!-- Historic page block -->
<!-- ========================================================================================================================================================= -->
<div class="flex justify-between items-start my-4">
    <div class="lg:mr-4 mx-2 sm:mx-0">
        <h1 class="mb-6 font-bold text-3xl text-gray-800">Медиагалерея</h1>
        
        <div id="list" class="grid gap-1 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
            {% for picture in galleries %}
                <div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href="#">
                        <img class="rounded-t-lg"
                            src="{{ picture.image.url }}"
                            alt="" />
                    </a>
                    <div class="p-5">
                        <a href="#">
                            <h5 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">{{ picture.title }}</h5>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- President -->
    <!-- ========================================================================================================================================================= -->
    <div
        class="mt-14 w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow  dark:bg-gray-800 dark:border-gray-700 hidden lg:block">
        <div class="flex flex-col items-center py-5 px-2">
            <img class="w-24 h-24 mb-3 mt-3 rounded-full shadow-lg" src="{% static './images/president.jpg' %}"
                alt="Қасым-Жомарт Тоқаев" />
            <h5 class="mb-1 text-xl font-bold text-gray-900 dark:text-white">Қасым-Жомарт Тоқаев</h5>
            <span class="text-sm text-gray-700 dark:text-gray-600">Қазақстан Республикасының президенті</span>
            <span class="text-sm text-gray-400 dark:text-gray-300 text-center mt-2">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Reiciendis maxime quo vero culpa provident debitis nemo neque laborum perspiciatis ex!
            </span>
        </div>
    </div>
</div>
{% endblock content %}